.navbar{
    position: fixed ;
    background-color: #f80505;
    font-size: 20px;
    box-sizing: border-box;
    min-width: 360px;
    width: 100%;
        .navatajos{
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        padding: 5px;
        margin: 5px;
    
}
}